* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu-btn {
    border: 3px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .5s ease-in-out;
    width: 80px;
    height: 80px;
}

.menu-btn__burger {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    border-radius: 5px;
    transition: all .5s ease-in-out;
    width: 50px;
    height: 6px;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    border-radius: 5px;
    position: absolute;
    width: 50px;
    height: 6px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

/* ANIMATION */
.menu-btn.open {
    border: none;
}
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background-color: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}